/* universal tag */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* diffrent fonts using font face*/
@font-face {
	font-family: workSansRegular;
	src: url(../fonts/WorkSans-Regular.woff);
}
@font-face {
	font-family: workSansSemiBold;
	src: url(../fonts/WorkSans-SemiBold.woff);
}
@font-face {
	font-family: NoticiaTextBold;
	src: url(../fonts/NoticiaText-Bold.woff);
}
@font-face {
	font-family: workSansMedium;
	src: url(../fonts/WorkSans-Medium.woff);
}
@font-face {
	font-family: workSansRegular;
	src: url(../fonts/WorkSans-Regular.woff);
}
/* container style width of 1240px*/
.container {
	margin: 0 auto;
	padding: 30px;
	width: 1240px;
}
/* main */
main {
	padding: 80px 0;
	background-color: #78C51C;
}
/* first div of page */
.mobe {
	display: flex;
	gap: 100px;
	padding: 40px;
	background-color: #2A6B2C;
	border-radius: 10px;
}
/* upper small heading*/
.top-text-para {
	color: #C8F169;
	font-family: workSansSemiBold;
	margin-bottom: 20px;
}
/* heading of mob section */
h2 {
	font-size: 48px;
	font-family: NoticiaTextBold;
	color: #ffffff;
	margin-bottom: 28px;
}
/*description style*/
.mode-text-description {
	width: 64%;
	font-family: workSansRegular;
	color: #EEF2E3;
	margin-bottom: 36px;
}
/* button of mob section */
.mobe-btn {
	cursor: pointer;
	font-family: workSansRegular;
	color: #EEF2E3;
	background-color: transparent;
	border: 1px solid #ffffff;
	padding: 12px 32px;
	border-radius: 4px;
}
/* effects on hover */
.mobe-btn:hover {
	color: #043F2E;
	background-color: #ffffff;
}
/* bottom div styling */
.buisness-intelligence {
	padding: 40px 0;
	margin-top: 40px;
	display: flex;
	align-items: center;
	gap: 80px;
	padding: 40px;
	background-color: #2A6B2C;
	border-radius: 10px;
}
/* right div style */
.beyond-bi {
	width: 33%;
}
/* right div p tag styling */
.bi-text-description {
	font-family: workSansRegular;
	color: #EEF2E3;
	margin-bottom: 36px;
}
/* right div display grid */
.diffrent-platfroms {
	width: 60%;
	display: grid;
	grid-template-columns: calc(30% - 12px) calc(40% - 10px) calc(30% - 12px);
	grid-template-rows: 180px 150px 150px;
	grid-gap: 16px;
}
/* this is common class for each inner div for setting background-color */
.diffrent-platfroms-inner {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	background-color: #C8F169;
}
/* icon style of inner div*/
.diffrent-platfroms-inner img {
	width: 24px;
	height: 24px;
	margin-bottom: 10px;
}
/* text inside inner divs */
.diffrent-platfroms-text {
	font-size: 16px;
	color: #043F2E;
	font-family: workSansMedium;
}
/* first div of grid */
.one {
	height: 180px;
	border-radius: 10px;
}
/* second div of grid , position relative */
.two {
	height: 150px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
	border-bottom-left-radius: 0px;
	grid-column: 2 / span 2;
}
/* inner div of second div postition absolute */
.inner-two {
	position: absolute;
	width: 54%;
	height: 130%;
	left: 0px;
	top: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 1;
}
/* third div of grid */
.three {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	position: relative;
	border-bottom-right-radius: 0px;
	grid-row: 2 / span 2;
}
/* inner div of third div postition absolute */
.inner-three {
	position: absolute;
	width: 34%;
	height: 47%;
	bottom: 0px;
	right: -34%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
/* fourth div of frid */
.four {
	border-radius: 10px;
	width: 72%;
	position: relative;
	left: 25%;
	grid-row: 3 / span 1;
}
/* fifth div of grid */
.five {
	border-radius: 10px;
	grid-area: 2 / 3 / span 2 / span 1;
	height: 108%;
	top: -8%;
	right: 3%;
	position: relative;
	width: 103%;
}
